.secondary-navbar {
    width: 12%;
    display: flex;
    flex-direction: column;

    &__primary-list {
        width: 100%;
    }

    &__primary-item:last-child {
        display: none;
    }

    &__primary-item-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__primary-item-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #898989;

        transition: 0.4s;
    }


    &__secondary-list {
        width: 100%;
        margin-top: 40px;
    }

    // &__secondary-item {
    // }

    &__secondary-item-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__secondary-item-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #898989;

        transition: 0.4s;
    }



    &__subscriptions {
        width: 100%;
        margin-top: 50px;
    }

    &__subscriptions-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
        line-height: 23px;

    }

    &__subscriptions-list {
        width: 100%;
        margin-top: 20px;
    }

    // &__subscriptions-item {}

    &__subscriptions-item-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__subscriptions-item-img {
        max-width: 26px;
        max-height: 26px;
        margin-right: 12px;
    }

    &__subscriptions-item-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #898989;

        transition: 0.4s;
    }


    &__setting-link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 100%;
    }

    &__setting-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #898989;

        transition: 0.4s;
    }
}

.home,
.trending,
.subscriptions,
.library,
.history,
.watchlater,
.favourities,
.likedvideos,
.music,
.games,
.setting {
    max-width: 22px;
    max-height: 21px;
    margin-right: 12px;
}

.home>path,
.trending>path,
.subscriptions>path,
.library>path,
.history>path,
.watchlater>path,
.favourities>path,
.likedvideos>path,
.music>path,
.games>path,
.setting>path {
    transition: 0.4s;
}



.secondary-navbar__primary-item-link:hover .secondary-navbar__primary-item-title,
.secondary-navbar__secondary-item-link:hover .secondary-navbar__secondary-item-title,
.secondary-navbar__subscriptions-item-link:hover .secondary-navbar__subscriptions-item-title,
.secondary-navbar__setting-link:hover .secondary-navbar__setting-title {
    color: red;

}

.secondary-navbar__primary-item-link:hover .home>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__primary-item-link:hover .trending>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__primary-item-link:hover .subscriptions>path {
    opacity: 100;
    fill: red;
}


.secondary-navbar__secondary-item-link:hover .library>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__secondary-item-link:hover .history>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__secondary-item-link:hover .watchlater>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__secondary-item-link:hover .favourities>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__secondary-item-link:hover .likedvideos>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__secondary-item-link:hover .music>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__secondary-item-link:hover .games>path {
    opacity: 100;
    fill: red;
}

.secondary-navbar__setting-link:hover .setting>path {
    opacity: 100;
    fill: red;
}


.show-more__accordion-input {
    display: none;
}

.show-more__accordion-label {
    display: block;
    padding: 8px 30px;
    margin: 0 0 1px 0;
    cursor: pointer;
    color: #898989;
    transition: ease .5s;
    position: relative;
    /* ADDING THIS IS REQUIRED */
}

.show-more__accordion-label::after {
    content: '︿';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 2px;
}

.show-more__accordion-input:checked+.show-more__accordion-label::after {
    content: '﹀';
    left: 0px;
    top: 3px;
}

.show-more__accordion-content {
    padding: 5px 0px;
    margin: 0 0 1px 0;
}

.show-more__accordion-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.show-more__accordion-title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
}

.show-more__accordion-input+.show-more__accordion-label+.show-more__accordion-content {
    display: none;
}

.show-more__accordion-input:checked+.show-more__accordion-label+.show-more__accordion-content {
    display: block;
}



@media only screen and (max-width: 475px) {
    .secondary-navbar {
        width: 100%;

        &__primary-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__primary-item:last-child {
            display: block;
        }

        &__primary-item-link {
            flex-direction: column;
            justify-content: center;
        }

        &__secondary-list {
            display: none;
        }

        &__subscriptions {
            display: none;
        }

        &__setting-link {
            display: none;
        }

    }




}