.recommended-channels {

    width: 16%;


    &__title {
        font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: #C2C2C2;

    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &__item {
        
        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-img {
            max-width: 50px;
            max-height: 50px;
        }

        &-title {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 23px;
            color: #19202C;
            margin-left: 12px;
        }
    }
    &__item:nth-child(2), &__item:last-child {
        margin-top: 25px;
    }

    &__item:first-child {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 475px) {
    

    .recommended-channels {

     display: none;
    }
  }